.footer-area {
    background-color: #000000;
    color: #ffffff;
    height: 350px;
    

}

.footer-top {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: 0 auto;
    
}
.footer-left {
    width: 40%;
    
}
.footer-right {
    width: 40%;
    position: relative;
    left: 400px;

    
}
.footer-right p{
    display: inline;
    margin-right: 15px;

    
}
.footer-bottom {
    margin-top: 50px;
}
.footer-bottom hr {
    width: 80%;
    height: 0.1px;
    margin: 0 auto;
    border: none;
    background: #ffffff;
}
.footer-bottom p{
    text-align: center;
    margin-top: 50px;
}
